.center {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  height: 500px;
  margin: auto;
}

.grid-child {
  padding: 15px;
  border: 1px solid black;
}
